!!! 5

%html{ :xmlns => "http://www.w3.org/1999/xhtml" , "xml:lang" => "en",  :lang => "en" }
  %head
    %title Ruby Kickstart
    / minified jQuery
    / %script{ :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js', :type => 'text/javascript' }
    
    / regular jQuery
    %script{ :src => 'http://code.jquery.com/jquery-1.6.1.js', :type => 'text/javascript' }
    %script{ :src => '/js/quiz.js', :type => 'text/javascript' }
    
    
    %link{ :rel => "stylesheet", :href => "/murano/css/reset.css"               , :type => "text/css", :media => "screen", :title => "default" }
    %link{ :rel => "stylesheet", :href => "/murano/css/text.css"                , :type => "text/css", :media => "screen", :title => "default" }
    %link{ :rel => "stylesheet", :href => "/murano/css/custom.css"              , :type => "text/css", :media => "screen", :title => "default" }
    %link{ :rel => "stylesheet", :href => "/murano/css/xGrid.css"               , :type => "text/css", :media => "screen", :title => "default" }
    %link{ :rel => "stylesheet", :href => "/murano/css/uniform.default.css"     , :type => "text/css", :media => "screen", :title => "default" }
    %link{ :rel => "stylesheet", :href => "/murano/css/jquery.lightbox-0.5.css" , :type => "text/css", :media => "screen", :title => "default" }
    %link{ :rel => "stylesheet", :href => "/murano/css/jquery.visualize.css"    , :type => "text/css", :media => "screen", :title => "default" }
    %link{ :rel => "stylesheet", :href => "/css/rks-custom.css"                 , :type => "text/css", :media => "screen", :title => "default" }
    
    
    / Probably go with one of these in the end
    / %link{ :rel => "stylesheet", :href => "/murano/themes/orange/css/orange.css" , :type => "text/css", :media => "screen", :class => "styleswitch", :id => "styleswitch" }
    / %link{ :rel => "stylesheet", :href => "/murano/themes/maroon/css/maroon.css" , :type => "text/css", :media => "screen", :class => "styleswitch", :id => "styleswitch" }
    %link{ :rel => "stylesheet", :href => "/murano/themes/blue/css/blue.css"     , :type => "text/css", :media => "screen", :class => "styleswitch", :id => "styleswitch" }

    / Probably delete these in the end
    / %link{ :rel => "stylesheet", :href => "/murano/themes/black/css/black.css"   , :type => "text/css", :media => "screen", :class => "styleswitch", :id => "styleswitch" }
    / %link{ :rel => "stylesheet", :href => "/murano/themes/brown/css/brown.css"   , :type => "text/css", :media => "screen", :class => "styleswitch", :id => "styleswitch" }
    / %link{ :rel => "stylesheet", :href => "/murano/themes/green/css/green.css"   , :type => "text/css", :media => "screen", :class => "styleswitch", :id => "styleswitch" }
    / %link{ :rel => "stylesheet", :href => "/murano/themes/grey/css/grey.css"     , :type => "text/css", :media => "screen", :class => "styleswitch", :id => "styleswitch" }
    / %link{ :rel => "stylesheet", :href => "/murano/themes/navy/css/navy.css"     , :type => "text/css", :media => "screen", :class => "styleswitch", :id => "styleswitch" }
    / %link{ :rel => "stylesheet", :href => "/murano/themes/purple/css/purple.css" , :type => "text/css", :media => "screen", :class => "styleswitch", :id => "styleswitch" }
    / %link{ :rel => "stylesheet", :href => "/murano/themes/red/css/red.css"       , :type => "text/css", :media => "screen", :class => "styleswitch", :id => "styleswitch" }
    / %link{ :rel => "stylesheet", :href => "/murano/themes/yellow/css/yellow.css" , :type => "text/css", :media => "screen", :class => "styleswitch", :id => "styleswitch" }
    
    /[if IE 8]
      %link{ :rel => "stylesheet", :href => "/murano/css/ie8.css", :type => "text/css", :media => "screen", :title => "default" }
      
    /[if IE 7]
      %link{ :rel => "stylesheet", :href => "/murano/css/ie7.css", :type => "text/css", :media => "screen", :title => "default" }

  	
  %body.layout-fixed

    #topMenu.clearfix
      - if doing_maintenance?
        Currently doing maintenance, quizzes will be back up when done.
      
      - else
        .left
          - @quizzes.each do |quiz|
            %a{ :href => "/quizzes/#{quiz.number}" }= quiz.name
            = '|' unless quiz == @quizzes.last
        .right
          %a{ :href => '/' } Home
          |
          %a{ :href => "/about" } About

    #page
      .pad
      #header
        %h1#title
          %a{ :href => 'http://ruby-kickstart.com' }= @title || 'Ruby Kickstart'
      #body
        - messages.each do |type, message|
          .message.message-closable{ :class => "message-#{type}" }
            = message
        ~ yield if block_given?
      #footer