%h1= @quiz_taken.name

- @quiz_taken.each_problem_with_solution_and_index do |problem, solution, index|
  %h3= index
  %h2= problem.question
  - if problem.is_a? QuizMultipleChoiceProblem
    %ul
      - problem.quiz_options.each do |quiz_option|
        %li
          - id = quiz_option.id
          - css_class = if id == problem.solution_id then :correct elsif id.to_s == solution.answer then :incorrect end
          %input{ :type       =>  "radio",
                  :checked    =>  (id.to_s == solution.answer),
                  :disabled   =>  true,
                  :class      =>  css_class }
            = quiz_option.body
  - elsif problem.is_a? QuizMatchAnswerProblem
    - css_class = (solution.correct? ? :correct : :incorrect)
    %input{ :type     => "text", 
            :name     => "quiz_results[#{problem.id}]", 
            :value    => solution.answer, 
            :disabled => true,
            :class    => css_class }
    - if css_class == :incorrect
      = solution.failure_explanation