%h1= @quiz.name

%form{ :name => 'quiz', :action => "/quizzes/#{@quiz.number}", :method => 'post' }
  - @quiz.each_id_problem_and_index do |id, problem, index|
    %h3= index
    %h2~ markdown without_leading_whitepace(problem.question), :layout => false
    
    - case problem
    
    
    - when QuizMultipleChoiceProblem
      .quizMultipleChoiceProblem
        %ul
          - problem.options.each do |quiz_option|
            %li
              %input{ :type => "radio", :name => "quiz_results[#{id}]", :value => quiz_option }
                = quiz_option
              
              
    - when QuizMatchAnswerProblem
      .quizMatchAnswerProblem
        %input{ :type => "text", :name => "quiz_results[#{id}]" }
    
    
    - when QuizPredicateProblem
      .quizPredicateProblem
        %ul
          %li
            %input{ :type => 'radio', :name => "quiz_results[#{id}]", :value => 1  }
              true
          %li
            %input{ :type => 'radio', :name => "quiz_results[#{id}]", :value => 0 }
              false
    
    
    - when QuizManyToManyProblem
      .quizManyToManyProblem
        %ul
          - problem.question_set.each do |question|
            %li
              = question
              %select{ :name => "quiz_results[#{id}][#{question}]" }
                -problem.solution_set.each do |potential_solution|
                  %option{ :value => potential_solution }
                    = potential_solution
    
    
    - else
      - raise "Don't know how to ask #{problem.inspect}"
      
  %input{ :type => 'submit', :value => 'submit' }