%form.quiz{ :action => "/quizzes/#{@quiz.number}", :method => 'post' }
  - @quiz.each_id_problem_and_index do |id, problem, index|
    %div.quizProblem{ :class => problem.class.to_s.sub(/^./) { |char| char.downcase } }
      %h3= index
      %h2~ inline_markdown without_leading_whitepace(problem.question)
    
      - case problem
    
    
      - when QuizMultipleChoiceProblem
        %ul
          - problem.options.each do |quiz_option|
            %li.radio.quizQuestion
              %input{ :type => "radio", :name => "quiz_results[#{id}]", :value => quiz_option }
              = inline_markdown quiz_option
              
              
      - when QuizMatchAnswerProblem
        %input.rounded.quizQuestion{ :type => "text", :name => "quiz_results[#{id}]" }
    
    
      - when QuizPredicateProblem
        %ul
          %li.radio.quizQuestion
            %input{ :type => 'radio', :name => "quiz_results[#{id}]", :value => 1  }
            true
          %li.radio.quizQuestion
            %input{ :type => 'radio', :name => "quiz_results[#{id}]", :value => 0 }
            false
    
    
      - when QuizManyToManyProblem
        %ul
          - problem.question_set.each do |question|
            %li.radio.quizQuestion
              = inline_markdown question
              %select{ :name => "quiz_results[#{id}][#{question}]" }
                - problem.solution_set.each do |potential_solution|
                  %option{ :value => potential_solution }
                    = potential_solution
    
    
      - else
        - raise "Don't know how to ask #{problem.inspect}"
      
  %input{ :type => 'submit', :value => 'submit' }