%h1= @quiz.name

%form{ :name => 'quiz_results', :action => "/quizzes/#{@quiz.number}", :method => 'post' }
  - @quiz.each_id_problem_and_index do |id, problem, index|
    %h3= index
    %h2= problem.question
    
    - if problem.is_a? QuizMultipleChoiceProblem
      %ul
        - problem.quiz_options.each do |quiz_option|
          %li
            %input{ :type => "radio", :name => "quiz_results[#{id}]", :value => quiz_option.id }
              = quiz_option.body
              
    - elsif problem.is_a? QuizMatchAnswerProblem
      %input{ :type => "text", :name => "quiz_results[#{id}]" }
  %input{ :type => 'submit', :value => 'submit' }